<%- include('../../partials/admin/header.ejs') %>
	<%- include('../../partials/admin/navbar.ejs') %>
		<main class="principal">
			<h2>Atualizar dados do funcionário</h2>
			<hr>
			<form action="/admin/funcionario/salvar" method="POST">
				<input type="hidden" name="iptId" value="<%= funcionario.id %>">

				<label>Nome:</label>
				<input type="text" name="iptNome" value="<%= funcionario.nome %>">

				<label>CPF:</label>
				<input type="text" name="iptCpf" value="<%= funcionario.cpf %>">

				<label>Nascimento:</label>
				<input type="date" name="iptNascimento" value="<%= funcionario.nascimento %>">

				<label>Endereço:</label>
				<input type="text" name="iptEndereco" value="<%= funcionario.endereco %>">

				<label>Email:</label>
				<input type="email" name="iptEmail" value="<%= funcionario.email %>">

				<label>Telefone:</label>
				<input type="tel" name="iptTelefone" value="<%= funcionario.telefone %>">

				<label>Celular:</label>
				<input type="tel" name="iptCelular" value="<%= funcionario.celular %>">

				<label>Setor:</label>
				<select name="iptSetor" value="<%= funcionario.setor %>">
					<% setores.forEach(setor => { %>
						<% if (setor.id == funcionario.setoreId) { %>
							<option value="<%= setor.id %>" selected><%= setor.setor %></option>
						<% } else { %>
							<option value="<%= setor.id %>"><%= setor.setor %></option>
						<% } %>
					<% }) %>
				</select>

				<label>Cargo:</label>
				<select name="iptCargo" value="<%= funcionario.cargo %>">
					<% cargos.forEach(cargo => { %>
						<% if (cargo.id == funcionario.cargoId) { %>
							<option value="<%= cargo.id %>" selected><%= cargo.cargo %></option>
						<% } else { %>
							<option value="<%= cargo.id %>"><%= cargo.cargo %></option>
						<% } %>
					<% }) %>
				</select>

				<label>Informações adicionais:</label>
				<textarea name="sltInformacoes" cols="30" rows="10"><%= funcionario.informacoesAdicionais %></textarea>

				<button type="submit" class="btn-editar right">Atualizar</button>
			</form>
		</main>
		<%- include('../../partials/admin/footer.ejs') %>