<%- include('../../partials/header.ejs') %>
	<%- include('../../partials/navbar.ejs') %>
		<main class="principal">
			<h2>Funcionários</h2>
			<a href="/admin/funcionario/novo" class="btn-add btn-lista">Novo funcionário</a>
			<hr>
			<small class="small-info">Se quiser adicionar um novo <em>setor</em> ou <em>cargo</em>, clique<a href="/admin/funcionarios/opcoes">aqui</a>.</small>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Email</th>
						<th>Telefone</th>
						<th>Celular</th>
						<th>Setor</th>
						<th>Cargo</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<% funcionarios.forEach(funcionario => { %>
						<tr>
							<td>
								<%= funcionario.id %>
							</td>
							<td>
								<%= funcionario.nome %>
							</td>							
							<td>
								<%= funcionario.email %>
							</td>
							<td>
								<%= funcionario.telefone %>
							</td>
							<td>
								<%= funcionario.celular %>
							</td>
							<td>
								<%= funcionario.setore.setor %>
							</td>
							<td>
								<%= funcionario.cargo.cargo %>
							</td>
							<td style="display: flex;">
								<a href="/admin/funcionario/editar/<%= funcionario.id %>" class="btn-redondo btn-editar" title="Editar funcionário"><i class="fa fa-edit"></i></a>
								<form action="/admin/funcionario/deletar" method="POST" onsubmit="deletarFuncionario(event, this)">
									<input type="hidden" name="iptId" value="<%= funcionario.id %>">
									<input type="hidden" name="iptNome" value="<%= funcionario.nome %>">
									<button type="submit" class="btn-redondo btn-deletar"><i class="fa fa-eraser"></i></button>
								</form>
								<a href="/admin/funcionario/<%= funcionario.id %>" class="btn-redondo btn-info" title="Informações do funcionário"><i class="fa fa-info-circle"></i></a>
							</td>
						</tr>
						<% }) %>
				</tbody>
			</table>
		</main>
		<script>
			function deletarFuncionario(event, form) {
				event.preventDefault()
				if (confirm(`Deseja deletar o registro de => ${ form['iptNome'].value }?`)) {
					form.submit()
				}
			}
		</script>
		<%- include('../../partials/footer.ejs') %>