<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<main class="principal">
	<h2>Opções para produtos</h2>
	<hr>
	<ul class="opcao-lista">
		<li class="opcao-item">
			<label>
				<input type="radio" name="rdOpcao" value="setor" checked>Setor
			</label>
		</li>
		<li class="opcao-item">
			<label>
				<input type="radio" name="rdOpcao" value="cargo">Cargo
			</label>
		</li>
	</ul>
	<div class="opcoes">
			<section id="setor" class="opcao">
				<form action="/admin/funcionarios/opcoes/setor/salvar" method="POST">
					<label>Setor:</label>
					<input type="text" name="iptSetor" placeholder="Nome do setor">

					<button type="submit" class="btn-add">Cadastrar</button>
				</form>
				<hr>
				<table class="table-opcoes">
					<thead>
						<tr>
							<th>ID</th>
							<th>Setor</th>
						</tr>
					</thead>
					<tbody>
						<% setores.forEach(setor => { %>
							<tr>
								<td><%= setor.id %></td>
								<td><%= setor.setor %></td>
							</tr>
						<% }) %>
					</tbody>
				</table>
			</section>
				<section id="cargo" class="opcao">
					<form action="/admin/funcionarios/opcoes/cargo/salvar" method="POST">
						<label>Cargo:</label>
						<input type="text" name="iptCargo" placeholder="Nome do cargo">

						<label>Salário:</label>
						<input type="number" name="iptSalario">

						<button type="submit" class="btn-add">Cadastrar</button>
					</form>
					<hr>
					<table class="table-opcoes">
						<thead>
							<tr>
								<th>ID</th>
								<th>Cargo</th>
								<th>Salário</th>
							</tr>
						</thead>
						<tbody>
							<% cargos.forEach(cargo => { %>
								<tr>
									<td><%= cargo.id %></td>
									<td><%= cargo.cargo %></td>
									<td><%= cargo.salario %></td>
								</tr>
							<% }) %>
						</tbody>
					</table>
				</section>
			</div>
		</main>
<script src="/js/produtoOpcao.js"></script>
<%- include('../../partials/footer.ejs') %>
