<%- include('../../partials/admin/header.ejs') %>
	<%- include('../../partials/admin/navbar.ejs') %>
		<main class="principal">
			<h2>Cadastrar funcionário</h2>
			<hr>
			<form action="salvar" method="POST">
				<label>Nome:</label>
				<input type="text" name="iptNome">

				<label>CPF:</label>
				<input type="text" name="iptCpf">

				<label>Nascimento:</label>
				<input type="date" name="iptNascimento">

				<label>Endereço:</label>
				<input type="text" name="iptEndereco">

				<label>Email:</label>
				<input type="text" name="iptEmail">

				<label>Telefone:</label>
				<input type="text" name="iptTelefone">

				<label>Celular:</label>
				<input type="text" name="iptCelular">

				<label>Setor:</label>
				<select name="sltSetor">
					<% setores.forEach(setor => { %>
						<option value="<%= setor.id %>"><%= setor.setor %></option>
					<% }) %>
				</select>

				<label>Cargo:</label>
				<select name="sltCargo">
					<% cargos.forEach(cargo => { %>
						<option value="<%= cargo.id %>"><%= cargo.cargo %></option>
					<% }) %>
				</select>

				<label>Informações adicionais:</label>
				<textarea name="textInformacoes" cols="30" rows="10"></textarea>

				<button type="submit" class="btn-add right">Cadastrar</button>
			</form>
		</main>
		<%- include('../../partials/admin/footer.ejs') %>