<%- include('partials/header.ejs') %>
	<%- include('partials/navbar.ejs') %>
		<main class="principal">
			<h2>Compra atual</h2>
      <hr>
      <section class="compra-atual">
        <div class="compra">
          <div class="compra-data">
            <%= dataAtual %>
          </div>
          <div class="compra-quantidade">
            Quantidade de produtos: <span><%= compraAtual.length %></span>
          </div>
          <div class="compra-detalhe">
            <a href="/compra/atual">Detalhes</a>
          </div>
        </div>
      </section>
      <h2>Compras anteriores</h2>
      <hr>
      <section class="compras-anteriores">
        <div class="compra">
          <div class="compra-data">
            2022-06-10
          </div>
          <div class="compra-quantidade">
            Quantidade de produtos: <span>10</span>
          </div>
          <div class="compra-detalhe">
            <a href="#">Detalhes</a>
          </div>
        </div>
      </section>
		</main>
		<%- include('partials/footer.ejs') %>
