<%- include('partials/header.ejs') %>
	<%- include('partials/navbar.ejs') %>
		<main class="principal">
			<h2>Produtos</h2>
			<hr>
			<ul class="cards">
				<% produtos.forEach(produto=> { %>
					<li class="card">
						<a href="/produtos/<%= produto.id %>">
							<div class="imagem-card"></div>
							<div class="descricao-card">
								<h3 class="card-marca">
									<%= produto.marca %>
								</h3>
								<h3 class="card-modelo">
									<strong><%= produto.modelo %></strong>
								</h3>
								<h3 class="card-preco">
									R$ <%= produto.preco %>
								</h3>
							</div>
						</a>
					</li>
					<% }) %>
			</ul>
		</main>
		<%- include('partials/footer.ejs') %>