<%- include('../../partials/header.ejs') %>
	<%- include('../../partials/navbar.ejs') %>
		<main class="principal">
			<h2>Informações</h2>
			<hr>
			<label>Categoria:</label>
				<p><%= produto.categoria.categoria %></p>
			<label>Tipo:</label>
				<p><%= produto.tipo.tipo %></p>
			<label>Marca:</label>
				<p><%= produto.marca.marca %></p>
			<label>Modelo:</label>
				<p><%= produto.modelo %></p>
			<label>Fabricação:</label>
				<p><%= produto.anoFabricacao, %></p>
			<label>Garantia da loja:</label>
				<p><%= produto.garantiaLoja, %> ano(s)</p>
			<label>Garantia do fabricante:</label>
				<p><%= produto.garantiaFabricante %> ano(s)</p>
			<label>Estoque:</label>
				<p><%= produto.estoque.estoque %></p>
			<label>Preço:</label>
				<p><%= produto.preco %></p>
			<label>Descrição:</label>
			<p><%= produto.descricao %></p>
			<a href="/admin/produtos" class="btn-info right">Voltar</a>
		</main>
		<%- include('../../partials/footer.ejs') %>
