<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<main class="principal">
	<h2>Cadastrar produto</h2>
	<hr>
	<form action="/admin/produto/atualizar" method="post">
		<input type="hidden" name="iptId" value="<%= produto.id %>">
		<label>Categoria:</label>
		<select name="sltCategoria">
			<% categorias.forEach(categoria => { %>
				<% if (produto.categoriaId == categoria.id) { %>
					<option value="<%= categoria.id %>" selected><%= categoria.categoria %></option>
				<% } else { %>
					<option value="<%= categoria.id %>"><%= categoria.categoria %></option>
				<% } %>
			<% }) %>
		</select>

		<label>Tipo:</label>
		<select name="sltTipo">
			<% tipos.forEach(tipo => { %>
				<% if (produto.tipoId == tipo.id) { %>
					<option value="<%= tipo.id %>" selected><%= tipo.tipo %></option>
				<% } else { %>
					<option value="<%= tipo.id %>"><%= tipo.tipo %></option>
				<% } %>
			<% }) %>
		</select>

		<label>Marca:</label>
		<select name="sltMarca">
			<% marcas.forEach(marca => { %>
				<% if (produto.marcaId == marca.id) { %>
					<option value="<%= marca.id %>" selected><%= marca.marca %></option>
				<% } else { %>
					<option value="<%= marca.id %>"><%= marca.marca %></option>
				<% } %>
			<% }) %>
		</select>

		<label>Modelo/Produto:</label>
		<input type="text" name="iptModelo" value="<%= produto.modelo %>">

		<label>Ano de fabricação:</label>
		<input type="number" name="iptFabricacao" value="<%= produto.anoFabricacao %>">

		<label>Garantia da loja (meses):</label>
		<input type="number" name="iptGarantiaLoja" value="<%= produto.garantiaLoja %>">

		<label>Garantia da fabricante (meses):</label>
		<input type="number" name="iptGarantiaFabricante" value="<%= produto.garantiaFabricante %>">

		<label>Descrição:</label>
		<textarea name="textDescricao"cols="30" rows="10" placeholder="Descrição do produto"><%= produto.descricao %></textarea>

		<label>Estoque:</label>
		<input type="number" name="iptEstoque" value="<%= produto.estoque.estoque %>">

		<label>Preço</label>
		<input type="text" name="iptPreco" value="<%= produto.preco %>">

		<button type="submit" class="btn-editar">Atualizar</button>
	</form>
</main>
<%- include('../../partials/footer.ejs') %>
