<%- include('../../partials/header.ejs') %>
	<%- include('../../partials/navbar.ejs') %>
		<main class="principal">
			<h2>Produtos</h2>
			<a href="/admin/produto/novo" class="btn-add btn-lista">Novo produto</a>
			<hr>
			<small class="small-info">Se quiser adicionar um novo tipo ou marca de produto, clique<a href="/admin/produtos/opcoes">aqui</a>.</small>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Categoria</th>
						<th>Tipo</a></th>
						<th>Marca</th>
						<th>Produto</th>
						<th>Fabricação</th>
						<th>Garantia loja</th>
						<th>Garantia fabricante</th>
						<th>Estoque</th>
						<th>Preço</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<% produtos.forEach(produto => { %>
						<tr>
							<td>
								<%= produto.id %>
							</td>
							<td>
								<%= produto.categoria %>
							</td>
							<td>
								<%= produto.tipo %>
							</td>
							<td>
								<%= produto.marca %>
							</td>
							<td>
								<%= produto.modelo %>
							</td>
							<td>
								<%= produto.fabricacao %>
							</td>
							<td>
								<%= produto.garantiaLoja %>
							</td>
							<td>
								<%= produto.garantiaFabricante %>
							</td>
							<td>
								<%= produto.estoque %>
							</td>
							<td>
								<%= produto.preco %>
							</td>
							<td style="display: flex;">
								<a href="/admin/produto/edit/<%= produto.id %>" class="btn-redondo btn-editar" title="Editar produto"><i class="fa fa-edit"></i></a>
								<a href="#" class="btn-redondo btn-deletar" title="Deletar produto"><i class="fa fa-eraser"></i></a>
								<a href="/admin/produto/<%= produto.id %>" class="btn-redondo btn-info" title="Informações do produto"><i class="fa fa-info-circle"></i></a>
							</td>
						</tr>
						<% }) %>
				</tbody>
			</table>
		</main>
		<%- include('../../partials/footer.ejs') %>