<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<main class="principal">
	<h2>Cadastrar produto</h2>
	<hr>
	<form action="salvar" method="post">
		<label>Categoria:</label>
		<select name="sltCategoria">
			<% categorias.forEach(categoria => { %>
				<option value="<%= categoria.id %>"><%= categoria.categoria %></option>
			<% }) %>
		</select>

		<label>Tipo:</label>
		<select name="sltTipo">
			<% tipos.forEach(tipo => { %>
				<option value="<%= tipo.id %>"><%= tipo.tipo %></option>
			<% }) %>
		</select>

		<label>Marca:</label>
		<select name="sltMarca">
			<% marcas.forEach(marca => { %>
				<option value="<%= marca.id %>"><%= marca.marca %></option>
			<% }) %>
		</select>

		<label>Modelo/Produto:</label>
		<input type="text" name="iptModelo">

		<label>Ano de fabricação:</label>
		<input type="number" name="iptFabricacao">

		<label>Garantia da loja (anos):</label>
		<input type="number" name="iptGarantiaLoja">

		<label>Garantia da fabricante (anos):</label>
		<input type="number" name="iptGarantiaFabricante">

		<label>Descrição:</label>
		<textarea name="textDescricao"cols="30" rows="10" placeholder="Descrição do produto"></textarea>

		<label>Estoque:</label>
		<input type="number" name="iptEstoque">

		<label>Preço</label>
		<input type="text" name="iptPreco">

		<button type="submit" class="btn-add">Cadastrar</button>
	</form>
</main>
<%- include('../../partials/footer.ejs') %>