<%- include('../../partials/header.ejs') %>
	<%- include('../../partials/navbar.ejs') %>
		<main class="principal">
			<h2>Produtos</h2>
			<a href="/admin/produto/novo" class="btn-add btn-lista">Novo produto</a>
			<hr>
			<small class="small-info">Se quiser adicionar um novo <em>tipo</em>, <em>marca</em> ou <em>categoria</em> de produto, clique<a href="/admin/produtos/opcoes">aqui</a>.</small>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Categoria</th>
						<th>Tipo</th>
						<th>Marca</th>
						<th>Produto</th>
						<th>Fabricação</th>
						<th>Estoque</th>
						<th>Preço</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<% produtos.forEach(produto => { %>
						<tr>
							<td>
								<%= produto.id %>
							</td>
							<td>
								<%= produto.categoria.categoria %>
							</td>
							<td>
								<%= produto.tipo.tipo %>
							</td>
							<td>
								<%= produto.marca.marca %>
							</td>
							<td>
								<%= produto.modelo %>
							</td>
							<td>
								<%= produto.anoFabricacao %>
							</td>
							<td>
								<%= produto.estoque.estoque %>
							</td>
							<td>
								<%= produto.preco %>
							</td>
							<td class="acoes">
								<a href="/admin/produto/edit/<%= produto.id %>" class="btn-redondo btn-editar btn-acao" title="Editar produto"><i class="fa fa-edit"></i></a>
								<form onsubmit="deletarProduto(event, this)" action="/admin/produto/Deletar" class="form-deletar btn-acao">
									<input type="hidden" name="produtoId" value="<%= produto.id %>">
									<input type="hidden" name="produtoModelo" value="<%= produto.modelo %>">
									<button type="submit" class="btn-redondo btn-deletar" title="Deletar produto">
										<i class="fa fa-eraser"></i>
									</button>
								</form>
								<a href="/admin/produto/<%= produto.id %>" class="btn-redondo btn-info btn-acao" title="Informações do produto"><i class="fa fa-info-circle"></i></a>
							</td>
						</tr>
						<% }) %>
				</tbody>
			</table>
		</main>
		<script>
			function deletarProduto(event, form) {
				event.preventDefault()
				console.log(form)
				if (confirm(`Deletar produto [ ${ form['produtoId'].value } - ${ form['produtoModelo'].value } ]?`)) {
					form.submit()
				}
			}
		</script>
		<%- include('../../partials/footer.ejs') %>
