<%- include('../../partials/admin/header.ejs') %>
<%- include('../../partials/admin/navbar.ejs') %>
<main class="principal">
	<h2>Cadastrar produto</h2>
	<hr>
  Tipo contratate:
  <ul class="opcao-lista">
    <li class="opcao-item">
      <label>
        <input type="radio" name="rdTipoContratante" value="novo" checked> Novo
      </label>
    </li>
    <li class="opcao-item">
      <label>
        <input type="radio" name="rdTipoContratante" value="cadastrado"> Cadastrado
      </label>
    </li>
  </ul>

	<section id="novo">
		<form method="POST" action="/admin/contratantes/salvarNovo">
			<label>Serviço:</label>
			<select name="iptServico">
				<% servicos.forEach(servico => { %>
					<option value="<%= servico.id %>"><%= servico.servico %></option>
				<% }) %>
			</select>

			<label>Contratante:</label>
			<input type="text" name="iptContratante">

			<label>CPF/CNPJ:</label>
			<input type="text" name="iptIdentificacao">

			<label>Email:</label>
			<input type="email" name="iptEmail">

			<label>Telefone:</label>
			<input type="tel" name="iptTelefone">

			<label>Celular:</label>
			<input type="tel" name="iptCelular">

			<label>Informações adicionais:</label>
			<textarea name="textInformacoes" cols="30" rows="10"></textarea>

			<label>Contrato assinado:</label>
			<input type="file" name="iptContrato">

			<button type="submit" class="btn-add">Criar contratação</button>
		</form>
	</section>

  <section id="cadastrado">
    <form method="POST" action="/admin/contratantes/salvarCadastrado">
    	<label>Serviços</label>
    	<select name="iptServico">
				<% servicos.forEach(servico => { %>
					<option value="<%= servico.id %>"><%= servico.servico %></option>
				<% }) %>
			</select>

			<label>Contratante:</label>
			<select name="iptContratante">
				<% contratantes.forEach(contratante => { %>
					<option value="<%= contratante.id %>"><%= contratante.contratante %></option>
				<% }) %>
			</select>

    <button type="submit" class="btn-add">Criar contratação</button>
  </form>
  </section>
</main>
<script src="/js/sectionsRadios.js"></script>
<%- include('../../partials/admin/footer.ejs') %>