<%- include('../../partials/header.ejs') %>
	<%- include('../../partials/navbar.ejs') %>
		<main class="principal">
			<h2>Informações do cliente</h2>
			<hr>
			<label>ID:</label>
			<p><%= cliente.id %></p>

			<label>Nome:</label>
			<p><%= cliente.nome %></p>

			<label>CPF:</label>
			<p><%= cliente.cpf %></p>

			<label>Data de nascimento:</label>
			<p><%= cliente.nascimento %></p>

			<label>Endereço:</label>
			<p><%= cliente.endereco %></p>

			<label>Email:</label>
			<p><%= cliente.email %></p>

			<label>Telefone:</label>
			<p><%= cliente.telefone %></p>

			<label>Celular:</label>
			<p><%= cliente.celular %></p>

			<a href="/admin/clientes" class="btn-info right">Voltar</a>
		</main>
		<%- include('../../partials/footer.ejs') %>