<%- include('../../partials/admin/header.ejs') %>
<%- include('../../partials/admin/navbar.ejs') %>
<main class="principal">
	<h2>Serviços</h2>
	<a href="/admin/servico/novo" class="btn-add btn-lista">Novo serviço</a>
	<hr>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Serviço</th>
				<th>Responsáveis</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<% servicos.forEach(servico => { %>
				<tr>
					<td>
						<%= servico.id %>
					</td>
					<td>
						<%= servico.servico %>
					</td>
					<td>
						<% servico.funcionarios.forEach(funcionario => { %>
							<%= funcionario.nome %><br>
						<% }) %>
					</td>
					<td style="display: flex;">
						<a href="/admin/servico/editar/<%= servico.id %>" class="btn-redondo btn-editar" title="Editar servico"><i class="fa fa-edit"></i></a>
						<form onsubmit="deletarServico(event, this)" class="form-deletar btn-acao" method="post" action="/admin/servico/deletar">
							<input type="hidden" name="iptId" value="<%= servico.id %>">
							<input type="hidden" name="iptServico" value="<%= servico.servico %>">
							<button class="btn-redondo btn-deletar" title="Deletar serviço">
								<i class="fa fa-eraser"></i>
							</button>
						</form>
						<a href="/admin/servico/<%= servico.id %>" class="btn-redondo btn-info" title="Informações do servico"><i class="fa fa-info-circle"></i></a>
					</td>
				</tr>
				<% }) %>
		</tbody>
	</table>
</main>
<script>
	function deletarServico(event, form) {
		event.preventDefault()
		if (confirm(`Deletar serviço => ${ form['iptServico'].value }?`)) {
			form.submit()
		}
	}
</script>
<%- include('../../partials/admin/footer.ejs') %>
