<%- include('../../partials/admin/header.ejs') %>
	<%- include('../../partials/admin/navbar.ejs') %>
		<main class="principal">
			<h2>Informações</h2>
			<hr>
			<label>Serviço:</label>
				<p><%= servico.servico %></p>
			<label>Responsáveis:</label>
				<ul class="ul-funcionarios">
					<% servico.funcionarios.forEach(func => {%>
						<li class="li-funcionario"><%= func.nome %></li>
					<% }) %>
				</ul>
			<label>Descrição:</label>
				<p><%= servico.descricao %></p>
			<a href="/admin/servicos" class="btn-info right">Voltar</a>
		</main>
		<%- include('../../partials/admin/footer.ejs') %>
